@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @* @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr") *@

     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-utilities.css" />
    <link rel="stylesheet" href="~/css/Jquery-ui.css" />
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
    <!-- end google font -->
    <!-- font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- end font awesome -->

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


   
</head>
<body>
    <div class="sitepagetopblueLine"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 toplogoandgreentext alignheaderCenter">
                <img class="toplogo" src="~/images/sitetoplogo.png" />
                <p class="sitetopbargreen">Nawaloka Medicare</p>
            </div>
            <div class="col-sm-3 showinsameline mt-3">
                @{

                    var sessionValue = HttpContextAccessor.HttpContext.Session.GetString("loggeduser");
                    if ((sessionValue != "none") || (sessionValue != null))
                    {
                        <div class="welcomemsg"><i class="fas fa-user"></i> Hi! Welcome @sessionValue</div>
                        <div class="logoutText"><a asp-action="Logout" asp-controller="Users">LOGOUT</a></div>
                    }
                }

                
            </div>
        </div>
    </div>
    <div class="pagetopbanner"></div>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark d-none">
        <div class="container">
            <div class="roww">

                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li></li>

                        @* <li class="nav-link">cc</li>
                        @{

                        <li class="nav-link">userName</li>
                        }
                        @{ *@
                        @* // if (Session["logged"].ToString() == "true")
                        // {
                        //     <li class="nav-link">Hi @Session["userName"].ToString()!</li>
                        //     <li>@Html.ActionLink("SignOut", "SignOut", "Login", new { area = "" }, new { @class = "nav-link" })</li>
                        // } *@
                        }


                    </ul>
                </div>

            </div>
        </div>
    </nav>

    <div class="container body-content">
        <!-- The sidebar -->
        <div class="sidebar">
            @* @Html.ActionLink("DASHBOARD", "Dashboard", "Users", new { area = "" }, new { @class = "active nav-link leftmenuitem", id = "Dashboard" }) *@
            @Html.ActionLink("PATIENTS", "Create", "OurPatients", new { area = "" }, new { @class = "nav-link leftmenuitem", id = "Patients" })
            @Html.ActionLink("INACTIVE PATIENTS", "InactivePatients", "OurPatients", new { area = "" }, new { @class = "nav-link leftmenuitem", id = "InactivePatients" })
            @Html.ActionLink("LOYALTY PROGRAMME", "Index", "LoyaltyPrograms", new { area = "" }, new { @class = "nav-link leftmenuitem", id = "LoyaltyPrograms" })
            @Html.ActionLink("CHANGE PASSWORD", "ChangePassword", "Users", new { area = "" }, new { @class = "nav-link leftmenuitem", id = "ChangePassword" })
           @*  @Html.ActionLink("LOGOUT", "signin", "Users", new { area = "" }, new { @class = "nav-link leftmenuitem", id = "Logout" }) *@
        </div>

        <!-- Page content -->
        <div class="content">
           @RenderBody()
        </div>




        @*  <hr />
         <footer>
            <div class="footerbg">
                <div class="chakra-stack chakra-container css-1ye2k0l">

                </div>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </div>
            
        </footer> *@ 
    </div>
    <footer class="border-top footer text-muted1">
         <div class="container-fluid">
          <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 block">
                </div>

                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 block">
                </div>

                <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6 col-xs-12 block">
                </div>

                <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 col-xs-12 block social_media">
                </div>
            </div>
  
            <div class="row bottom_bar">
                <div class="coll-sm-3"></div>
                <div class="coll-sm-6 footercopywrite">&copy; @DateTime.Now.Year - Nawaloka Medicare</div>
                <div class="coll-sm-3"></div>

            </div>
        </div> 
    </footer>
    @* @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap") *@
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
   
    <script type="text/javascript" src="~/lib/jquery/dist/jquery-ui.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>

    @RenderSection("scripts", required: false)
    @RenderSection("loadLoyaltyscripts", required: false)
    
    <script>
        $(document).ready(function () {
            // $(".leftmenuitem").click(function () {
            //     // alert("aaa");
            //     $(".leftmenuitem").removeClass("active");
            // });
            // var a =""
            // localStorage.setItem('activeItem', a);
            function setActiveItem(itemId) {
                $('.sidebar a').removeClass('active');
                $('#' + itemId).addClass('active');
                localStorage.setItem('activeItem', itemId);
            }

            const activeItem = localStorage.getItem('activeItem');
            if (activeItem) {
                setActiveItem(activeItem);
            } else {
                // If no item is stored, set the default active item
                setActiveItem('Patients');
            }

            $('.sidebar a').click(function () {
                setActiveItem(this.id);                
            });

            // $(window).on('beforeunload', function () {
            //     localStorage.removeItem('activeItem');
            // });
            
        });
        
    </script>
</body>
</html>
